<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Teamcrypt App</title>

        <link rel="stylesheet" href="https://getnucleon.com/release/latest/nucleon.min.css">
        <link rel="stylesheet" href="./dist/main.bundle.css">

        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

        <script src="./dist/main.min.js"></script>

        <style>
            .full-width { max-width: none }
        </style>
    </head>
    <body>
        <div id="vue-app">

            <div class="container full-width">
                <div class="row">
                    <div class="col-3">
                        <h3 class="mb-0">Register</h3>
                        <register-user></register-user>
                    </div>
                    <div class="col-3">
                        <h3 class="mb-0">Login</h3>
                        <login></login>
                    </div>
                    <div class="col-6">
                        <h3 class="mb-0">Users</h3>
                        <user-list></user-list>
                    </div>
                </div>
            </div>

            <div class="container full-width px-4">
                <div class="row">
                    <div class="col-4">
                        <div class="add-entry vue">
                            <form @submit.prevent="formSubmit">
                                <h3 class="text-center">Vue Add Entry</h3>

                                <div class="row">
                                    <div class="col-12">
                                        <label for="v-type">Type</label>
                                        <select id="v-type" v-model="type">
                                            <option value="entry" selected>Entry</option>
                                            <option value="folder">Folder</option>
                                        </select>
                                    </div>
                                    <div class="col-12">
                                        <label for="v-title">Title</label>
                                        <input id="v-title" v-model="title" type="text">
                                    </div>
                                    <div class="col-12">
                                        <label for="v-parent">Parent</label>
                                        <input id="v-parent" v-model="parent" type="text">
                                    </div>
                                    <div v-if="type === 'entry'" class="col-12">
                                        <label for="v-username">Username</label>
                                        <input id="v-username" v-model="username" type="text">
                                    </div>
                                    <div v-if="type === 'entry'" class="col-6">
                                        <label for="v-password">Password</label>
                                        <input id="v-password" v-model="password" type="password">
                                    </div>
                                    <div v-if="type === 'entry'" class="col-6">
                                        <label for="v-confirm-password">Confirm Password</label>
                                        <input id="v-confirm-password" v-model="confirmPassword" type="password">
                                    </div>
                                    <div v-if="type === 'entry'" class="col-12">
                                        <label for="v-url">URL</label>
                                        <input id="v-url" v-model="url" type="text">
                                    </div>
                                    <div v-if="type === 'entry'" class="col-12">
                                        <label for="v-notes">Notes</label>
                                        <textarea id="v-notes" v-model="notes" rows="6"></textarea>
                                    </div>
                                    <div class="col-6 col-offset-3">
                                        <button class="submit btn btn-block btn-primary">Submit</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-4">
                        <h3 class="text-center">Keyfile Methods</h3>
                        <div class="row">
                            <div class="col-6 mb-0 pb-0">
                                <label for="v-passphrase">Passphrase</label>
                                <input id="v-passphrase" type="text" v-model="passphrase">
                            </div>
                            <div class="col-6 mb-0 pb-0">
                                <label for="v-salt">Salt</label>
                                <input id="v-salt" type="text" v-model="salt">
                            </div>
                            <div class="col-12 mt-0 pt-0">
                                <button @click="setKey" class="btn btn-block btn-primary mx-0">Set Key</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 mb-0 pb-0">
                                <button @click="encrypt" class="btn btn-block btn-danger">Encrypt</button>
                            </div>
                            <div class="col-6 mb-0 pb-0">
                                <button @click="decrypt" class="btn btn-block btn-success">Decrypt</button>
                            </div>
                        </div>
                    </div>

                    <div class="col-4 pt-5">
                        <h3>Keyfile Data</h3>
                        <pre><code>{{ output }}</code></pre>

                        <h3>Tree View</h3>
                        <pre><code>{{ JSON.stringify(tree, null, 4) }}</code></pre>
                    </div>
                </div>
            </div>
        </div>

        <!-- LOGIN TEMPLATE -->
        <script type="text/x-template" id="login-template">
            <form @submit.prevent="submit">
                <div class="col-12 pb-0">
                    <input v-model="username" type="text" class="mb-0" placeholder="Username or email">
                </div>
                <div class="col-12 pb-0">
                    <input v-model="password" type="password" class="mb-0" placeholder="Password">
                </div>
                <div class="col-4">
                    <button class="btn btn-primary btn-block" type="submit" role="submit">Submit</button>
                </div>
            </form>
        </script>

        <!-- REGISTER TEMPLATE -->
        <script type="text/x-template" id="register-template">
            <form @submit.prevent="submit">
                <div class="col-12 pb-0">
                    <input v-model="name" type="text" class="mb-0" placeholder="Name">
                </div>
                <div class="col-12 pb-0">
                    <input v-model="email" type="email" class="mb-0" placeholder="Email">
                </div>
                <div class="col-12 pb-0">
                    <input v-model="username" type="text" class="mb-0" placeholder="Username">
                </div>
                <div class="col-12 pb-0">
                    <input v-model="password" type="password" class="mb-0" placeholder="Password">
                </div>
                <div class="col-12 pb-0">
                    <input v-model="confirm" type="password" class="mb-0" placeholder="Confirm Password">
                </div>
                <div class="col-4">
                    <button class="btn btn-primary btn-block" type="submit" role="submit">Submit</button>
                </div>
            </form>
        </script>

        <!-- USER LIST TEMPLATE -->
        <script type="text/x-template" id="user-list-template">
            <ul style="list-style-type: none">
                <li v-for="user in users" style="margin: 0; padding: 0">
                    <div class="card">
                        <table style="margin-bottom: 0">
                            <tr>
                                <td>Name:</td>
                                <td>{{ user.name }}</td>
                            </tr>
                            <tr>
                                <td>Email:</td>
                                <td>{{ user.email }}</td>
                            </tr>
                            <tr>
                                <td>Username:</td>
                                <td>{{ user.username }}</td>
                            </tr>
                            <tr>
                                <td>Registered</td>
                                <td>{{ user.registered }}</td>
                            </tr>
                        </table>
                    </div>
                </li>
            </ul>
        </script>

        <script>
            'use strict';

            (function() {

                const kf = new Keyfile();

                // LOGIN COMPONENT
                Vue.component('login', {
                    data() {
                        return {
                            username: '',
                            password: ''
                        }
                    },
                    template: '#login-template',
                    methods: {
                        submit(){
                            const data = {
                                username: this.username,
                                password: this.password
                            }

                            fetch('/login', {
                                method: 'POST',
                                mode: 'same-origin',
                                headers: {
                                    'Content-Type': 'application/json; charset=utf-8'
                                },
                                body: JSON.stringify(data)
                            }).then( r => r.json() ).then(r => console.log(r));
                        }
                    }
                });

                // REGISTER COMPONENT
                Vue.component('register-user', {
                    data() {
                        return {
                            name:     '',
                            email:    '',
                            username: '',
                            password: '',
                            confirm:  ''
                        }
                    },
                    template: '#register-template',
                    methods: {
                        submit(){
                            const data = {
                                name:     this.name,
                                email:    this.email,
                                username: this.username,
                                password: this.password,
                                confirm:  this.confirm
                            }
                            console.log(data);
                        }
                    }
                });

                Vue.component('user-list', {
                    data() {
                        return {
                            users: []
                        }
                    },
                    template: '#user-list-template',
                    created() {
                        fetch('/users')
                            .then(r => r.json())
                            .then(r => this.users = r)
                            .catch(e => console.error(e));
                    }
                });

                // VUE APP
                const viewModel = new Vue({
                    el: '#vue-app',
                    data(){
                        return {
                            type:            'entry',
                            title:           '',
                            parent:          '',
                            username:        '',
                            password:        '',
                            confirmPassword: '',
                            url:             '',
                            notes:           '',
                            passphrase:      '',
                            salt:            '',
                            output:          '',
                            tree:            []
                        }
                    },
                    methods: {
                        formSubmit(e){
                            kf.add({
                                type:            this.type,
                                title:           this.title,
                                parent:          this.parent,
                                username:        this.username,
                                password:        this.password,
                                confirmPassword: this.confirmPassword,
                                url:             this.url,
                                notes:           this.notes
                            });

                            this.output = kf.keyfile;
                            this.tree   = kf.toTree();

                            this.reset();
                        },
                        setKey(e){
                            kf.setKey(this.passphrase, crypt.hex2ab(this.salt));
                        },
                        encrypt: async function(){
                            try{
                                await kf.encrypt();

                                this.output = kf.keyfile;
                                this.tree   = null;
                            }
                            catch(e){
                                console.error(e);
                            }
                        },
                        decrypt: async function(){
                            try{
                                await kf.decrypt();

                                this.output = JSON.stringify(kf.keyfile, null, 4);
                                this.tree   = kf.toTree();
                            }
                            catch(e){
                                console.error(e);
                            }
                        },
                        reset(){
                            this.title           = '';
                            this.parent          = '';
                            this.username        = '';
                            this.password        = '';
                            this.confirmPassword = '';
                            this.url             = '';
                            this.notes           = '';
                        }
                    },
                    mounted(){
                        const salt = crypt.genSalt();

                        this.salt = crypt.ab2hex(salt);

                        this.output = JSON.stringify(kf.keyfile, null, 4);
                    }
                });

            }());
        </script>
    </body>
</html>
